<?xml version="1.0" encoding="UTF-8"?>

<plugin id="cordova-plugin-tfl-detector" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-plugin-tfl-detector</name>
  <description>Cordova plugin that allows camera interaction from HTML code. Show camera preview popup on top of the
    HTML.
  </description>
  <license>MIT</license>
  <keywords>
    cordova,phonegap,ecosystem:cordova,cordova-android,cordova-ios,android,ios,ionic,camera,cam,camera-preview,preview
  </keywords>
  <repo>https://github.com/greetgo/cordova-plugin-tfl-detector.git</repo>
  <issue>https://github.com/greetgo/cordova-plugin-tfl-detector/issues</issue>
  <engines>
    <engine name="cordova" version="&gt;=3.0.0"/>
  </engines>

  <js-module src="www/CameraPreview.js" name="CameraPreview">
    <clobbers target="CameraPreview"/>
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CameraPreview">
        <param name="ios-package" value="CameraPreview" onload="true"/>
      </feature>
    </config-file>
    <pods-config ios-min-version="11.0" use-frameworks="true"/>
    <pod id="SnapKit"/>
    <pod id="TensorFlowLiteSwift" version="2.2.0"/>

    <source-file src="src/ios/CameraPreview.swift"/>
    <source-file src="src/ios/detect-card/BackCameraViewController.swift"/>
    <source-file src="src/ios/detect-card/FontCameraViewController.swift"/>
    <source-file src="src/ios/detect-card/InferenceViewController.swift"/>
    <source-file src="src/ios/detect-card/PhotoShowViewController.swift"/>
    <source-file src="src/ios/detect-card/CameraPreviewModel.swift"/>

    <source-file src="src/ios/detect-card-model/CameraFeedManager.swift"/>
    <source-file src="src/ios/detect-card-model/CurvedView.swift"/>
    <source-file src="src/ios/detect-card-model/CVPixelBufferExtension.swift"/>
    <source-file src="src/ios/detect-card-model/Helpers.swift"/>
    <source-file src="src/ios/detect-card-model/InfoCell.swift"/>
    <source-file src="src/ios/detect-card-model/ModelDataHandler.swift"/>
    <source-file src="src/ios/detect-card-model/OverlayView.swift"/>
    <source-file src="src/ios/detect-card-model/PreviewView.swift"/>
    <source-file src="src/ios/detect-card-model/StringExtension.swift"/>
    <source-file src="src/ios/detect-card-model/UIColorExtension.swift"/>

    <resource-file src="src/ios/assets/coco.txt"/>
    <resource-file src="src/ios/assets/labelmap.txt"/>
    <resource-file src="src/ios/assets/detect.tflite"/>
    <resource-file src="src/ios/assets/yolov4full.tflite"/>
    <dependency id="cordova-plugin-add-swift-support" version="^2.0.2"/>
  </platform>

  <platform name="android">
    <source-file src="src/android/CameraActivity.java" target-dir="src/com/cordovaplugintflite"/>
    <source-file src="src/android/CameraConnectionFragment.java" target-dir="src/com/cordovaplugintflite"/>
    <source-file src="src/android/CameraPreview.java" target-dir="src/com/cordovaplugintflite"/>
    <source-file src="src/android/CustomSurfaceView.java" target-dir="src/com/cordovaplugintflite"/>
    <source-file src="src/android/DetectorHybridActivity.java" target-dir="src/com/cordovaplugintflite"/>
    <source-file src="src/android/Preview.java" target-dir="src/com/cordovaplugintflite"/>
    <source-file src="src/android/TapGestureDetector.java" target-dir="src/com/cordovaplugintflite"/>

    <source-file src="src/android/customview/AutoFitTextureView.java"
                 target-dir="src/com/cordovaplugintflite/customview"/>
    <source-file src="src/android/customview/ButtonWithTopBorder.java"
                 target-dir="src/com/cordovaplugintflite/customview"/>
    <source-file src="src/android/customview/OvalOverlayView.java" target-dir="src/com/cordovaplugintflite/customview"/>
    <source-file src="src/android/customview/OvalStrokeOverlayView.java"
                 target-dir="src/com/cordovaplugintflite/customview"/>
    <source-file src="src/android/customview/OverlayView.java" target-dir="src/com/cordovaplugintflite/customview"/>
    <source-file src="src/android/customview/RecognitionScoreView.java"
                 target-dir="src/com/cordovaplugintflite/customview"/>
    <source-file src="src/android/customview/ResultsView.java" target-dir="src/com/cordovaplugintflite/customview"/>
    <source-file src="src/android/customview/overlay/CardOverlayView.java" target-dir="src/com/cordovaplugintflite/customview/overlay"/>
    <source-file src="src/android/customview/overlay/CardStrokeOverlayView.java" target-dir="src/com/cordovaplugintflite/customview/overlay"/>

    <source-file src="src/android/env/BorderedText.java" target-dir="src/com/cordovaplugintflite/env"/>
    <source-file src="src/android/env/ImageUtils.java" target-dir="src/com/cordovaplugintflite/env"/>
    <source-file src="src/android/env/Logger.java" target-dir="src/com/cordovaplugintflite/env"/>
    <source-file src="src/android/env/Utils.java" target-dir="src/com/cordovaplugintflite/env"/>

    <source-file src="src/android/tflite/Classifier.java" target-dir="src/com/cordovaplugintflite/tflite"/>
    <source-file src="src/android/tflite/YoloV4Classifier.java" target-dir="src/com/cordovaplugintflite/tflite"/>

    <source-file src="src/android/tracking/MultiBoxTracker.java" target-dir="src/com/cordovaplugintflite/tracking"/>

    <source-file src="src/android/camera_activity.xml" target-dir="res/layout"/>
    <source-file src="src/android/camera_theme.xml" target-dir="res/values"/>
    <source-file src="src/android/camera_ids.xml" target-dir="res/values"/>
    <source-file src="src/android/res/color.xml" target-dir="res/values"/>
    <source-file src="src/android/res/styles.xml" target-dir="res/values"/>
    <source-file src="src/android/res/drawable/wocr_manual_input_button.xml" target-dir="res/drawable"/>
    <source-file src="src/android/assets/yolov4full.tflite" target-dir="assets"/>
    <source-file src="src/android/assets/coco.txt" target-dir="assets"/>

    <config-file target="res/values/strings.xml" parent="/*">
      <string name="wocr_button_enter_card_number">Вернуться назад</string>
    </config-file>

    <framework src="androidx.exifinterface:exifinterface:1.2.0"/>
    <framework src="com.google.android.material:material:1.1.0"/>
    <framework src="org.tensorflow:tensorflow-lite:2.2.0"/>
    <framework src="org.tensorflow:tensorflow-lite-gpu:2.1.0"/>
    <framework src="androidx.constraintlayout:constraintlayout:1.1.3"/>
    <framework src="androidx.exifinterface:exifinterface:1.2.0"/>

    <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference"/>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CameraPreview">
        <param name="android-package" value="com.cordovaplugintflite.CameraPreview"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
      <uses-feature android:name="android.hardware.camera"/>
      <uses-feature android:name="android.hardware.camera.autofocus"/>
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.RECORD_AUDIO"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
      <activity android:name="com.cordovaplugintflite.CameraActivity" android:screenOrientation="portrait"
                android:theme="@style/CameraPreviewTheme"/>
    </config-file>
  </platform>
</plugin>
